<div class="mb-3">
  <%= f.label :password, class: "form-label" %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
</div>
<div class="mb-3">
  <%= f.label :password_confirmation, class: "form-label" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
</div>
